pandas
numpy
matplotlib
seaborn
tqdm
sentence-transformers
fastembed
joblib
transformers
faiss-cpu
scikit-learn
spacy
torch
pinecone
dotenv
grpcio
googleapis-common-protos
fastapi
uvicorn
pydantic
requests